.svg-facebook-dims {
	width: 9px;
	height: 16px;
}

.svg-inst-dims {
	width: 15px;
	height: 15px;
}

.svg-search-dims {
	width: 21px;
	height: 21px;
}

.svg-twitter-dims {
	width: 16px;
	height: 16px;
}

.svg-vk-dims {
	width: 20px;
	height: 20px;
}

.svg-youtube-dims {
	width: 18px;
	height: 18px;
}

