.svg-acc_minus-dims {
	width: 25px;
	height: 25px;
}

.svg-acc_plus-dims {
	width: 26px;
	height: 26px;
}

.svg-aside_prev-dims {
	width: 25px;
	height: 16px;
}

.svg-c_email-dims {
	width: 19px;
	height: 18px;
}

.svg-c_mark-dims {
	width: 15px;
	height: 19px;
}

.svg-c_phone-dims {
	width: 19px;
	height: 19px;
}

.svg-c_site-dims {
	width: 19px;
	height: 19px;
}

.svg-calendar-dims {
	width: 20px;
	height: 20px;
}

.svg-calendar_arrow-dims {
	width: 7px;
	height: 8px;
}

.svg-cards1-dims {
	width: 42px;
	height: 42px;
}

.svg-cards2-dims {
	width: 48px;
	height: 48px;
}

.svg-cards3-dims {
	width: 38px;
	height: 38px;
}

.svg-cards4-dims {
	width: 48px;
	height: 48px;
}

.svg-cards5-dims {
	width: 42px;
	height: 42px;
}

.svg-cards6-dims {
	width: 49px;
	height: 49px;
}

.svg-cf1-dims {
	width: 19px;
	height: 19px;
}

.svg-cf2-dims {
	width: 19px;
	height: 19px;
}

.svg-cf3-dims {
	width: 19px;
	height: 13px;
}

.svg-docx-dims {
	width: 26px;
	height: 28px;
}

.svg-dorohov-dims {
	width: 153px;
	height: 29px;
}

.svg-facebook-dims {
	width: 9px;
	height: 16px;
}

.svg-inst-dims {
	width: 15px;
	height: 15px;
}

.svg-list-dims {
	width: 15px;
	height: 14px;
}

.svg-m_close-dims {
	width: 20px;
	height: 20px;
}

.svg-news_arrow-dims {
	width: 19px;
	height: 8px;
}

.svg-news_arrow_menu-dims {
	width: 32px;
	height: 32px;
}

.svg-pdf-dims {
	width: 28px;
	height: 28px;
}

.svg-rss-dims {
	width: 13px;
	height: 12px;
}

.svg-search-dims {
	width: 21px;
	height: 21px;
}

.svg-twitter-dims {
	width: 16px;
	height: 16px;
}

.svg-vk-dims {
	width: 20px;
	height: 20px;
}

.svg-youtube-dims {
	width: 18px;
	height: 18px;
}

