<div class="pagination is--@@align">
    <div class="pagination__inner">
        <a href="#" class="btn is--prev">
            <img src="img/aside_arrow.svg" alt="">
            Предыдущая <span class="btn-circle"></span>
        </a>
        <ul>
            <li><a href="#"><span class="is--num">1</span></a></li>
            <li><span class="is--link"><span class="is--num">2</span></span></li>
            <li><a href="#"><span class="is--num">3</span></a></li>
            <li><a href="#"><span class="is--num">4</span></a></li>
            <li><a href="#"><span class="is--num">5</span></a></li>
        </ul>
        <a href="#" class="btn is--next">
            <img src="img/aside_arrow.svg" alt="">
            Следующая <span class="btn-circle"></span>
        </a>
    </div>
</div>