<div class="navbar">
    <div class="navbar__top">
        <div class="navbar__top__inner container">
            <div class="navbar__top__search">
                <div class="form-field is--navbar-search">
                    <input type="text">
                    <button type="submit">
                        @@include('../components/component.svg.html', {"name": "search"})
                    </button>
                </div>
            </div>
            <div class="navbar__top__info">
                <ul>
                    <li><span>302030 г. Орел ул. Герцена,19</span></li>
                    <li><a href="@@phone_link">@@phone</a></li>
                    <li><a href="mailto:@@mail">@@mail</a></li>
                </ul>
            </div>
            <div class="navbar__top__links">
                <ul>
                    <li>
                        <a href="#">
                            @@include('../components/component.svg.html', {"name": "vk"})
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @@include('../components/component.svg.html', {"name": "facebook"})
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @@include('../components/component.svg.html', {"name": "inst"})
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @@include('../components/component.svg.html', {"name": "twitter"})
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            @@include('../components/component.svg.html', {"name": "youtube"})
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar__bottom">
        <div class="navbar__bottom__inner container">
            <div class="navbar__bottom__logo">
                <a href="@@pages.index">
                    <img src="img/logo.svg" alt="">
                </a>
            </div>
            <div class="navbar__bottom__btn">
                <button>
                    <div class="is--icon"></div>
                    <span>Меню</span>
                </button>
            </div>
            <div class="navbar__bottom__menu">
                <ul class="_navbar-menu">
                    <li><a href="#">Сведения об образовательной <br> организации</a></li>
                    <li><a class="is--dropdown" data-dropdown="1" href="#">Образовательная <br> деятельность</a></li>
                    <li><a class="is--dropdown" data-dropdown="2" href="#">Научно-методическая <br> деятельность</a></li>
                    <li><a href="#">Сопровождение <br> системы образования</a></li>
                    <li><a href="#">Конкурсы, <br> олимпиады</a></li>
                    <li><a href="#">Одаренные <br> дети</a></li>
                    <li><a href="#">Аттестация</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar__dropdown is--on">
        <div class="navbar__dropdown__inner container">
            <ul class="_navbar-menu" data-dropdown="1" data-level="on">
                <li><a href="#">1Календарный учебный график</a></li>
                <li><a class="is--dropdown" data-dropdown="11" href="#">Программы повышения квалификации</a></li>
                <li><a href="#">Программы профессиональной переподготовки</a></li>
                <li><a href="#">Дистанционное обучение</a></li>
                <li><a href="#">Образцы документов на зачисление</a></li>
            </ul>
            <ul class="_navbar-menu" data-dropdown="2" data-level="on">
                <li><a href="#">2Календарный учебный график</a></li>
                <li><a class="is--dropdown" data-dropdown="12" href="#">Программы повышения квалификации</a></li>
                <li><a href="#">Программы профессиональной переподготовки</a></li>
                <li><a href="#">Дистанционное обучение</a></li>
                <li><a href="#">Образцы документов на зачисление</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar__dropdown is--tw">
        <div class="navbar__dropdown__inner container">
            <ul class="_navbar-menu" data-dropdown="11" data-level="tw">
                <li><a href="#">3Календарный учебный график</a></li>
                <li><a href="#">Программы повышения квалификации</a></li>
                <li><a href="#">Программы профессиональной переподготовки</a></li>
                <li><a href="#">Дистанционное обучение</a></li>
                <li><a href="#">Образцы документов на зачисление</a></li>
            </ul>
            <ul class="_navbar-menu" data-dropdown="12" data-level="tw">
                <li><a href="#">4Календарный учебный график</a></li>
                <li><a href="#">Программы повышения квалификации</a></li>
                <li><a href="#">Программы профессиональной переподготовки</a></li>
                <li><a href="#">Дистанционное обучение</a></li>
                <li><a href="#">Образцы документов на зачисление</a></li>
            </ul>
        </div>
    </div>
    <div class="navbar__big">
        <div class="navbar__big__inner container">
            <div class="navbar__big__cols">
                <div class="navbar__big__col">
                    <div class="navbar__big__menu">
                        <div class="navbar__big__menu__heading"><span>Специалисту системы образования</span></div>
                        <div class="navbar__big__menu__items">
                            <ul>
                                <li><a href="#">Федеральные и региональные нормативные документы</a></li>
                                <li><a href="#">Методические рекомендации</a></li>
                                <li><a href="#">Сопровождение системы образования</a></li>
                                <li><a href="#">Образовательные события</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="navbar__big__col">
                    <div class="navbar__big__menu is--mb">
                        <div class="navbar__big__menu__heading"><span>Конкурсы и олимпиады</span></div>
                        <div class="navbar__big__menu__items">
                            <ul>
                                <li><a href="#">Для обучающихся</a></li>
                                <li><a href="#">Для руководящих и педагогических работников</a></li>
                                <li><a href="#">Иные мероприятия</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar__big__menu">
                        <div class="navbar__big__menu__heading"><a href="#">Записаться на курс</a></div>
                    </div>
                </div>
                <div class="navbar__big__col">
                    <div class="navbar__big__menu is--mb">
                        <div class="navbar__big__menu__heading"><span>Информационные ресурсы</span></div>
                        <div class="navbar__big__menu__items">
                            <ul>
                                <li><a href="#">Издания института</a></li>
                                <li><a href="#">Видеозал</a></li>
                                <li><a href="#">Медиатека</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar__big__menu">
                        <div class="navbar__big__menu__heading"><a href="#">Мониторинг</a></div>
                    </div>
                </div>
                <div class="navbar__big__col">
                    <div class="navbar__big__menu">
                        <div class="navbar__big__menu__heading"><span>Аттестация</span></div>
                        <div class="navbar__big__menu__items">
                            <ul>
                                <li><a href="#">Нормативные документы по аттестации</a></li>
                                <li><a href="#">Руководителям образовательных организаций</a></li>
                                <li><a href="#">Педагогическим работникам</a></li>
                                <li><a href="#">Экспертам</a></li>
                                <li><a href="#">Заявление в электронном виде</a></li>
                                <li><a href="#">Online тестирование</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>