<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>@@title — @@sitename</title>
<link rel="stylesheet" href="dist/css/style.css">
<script>
    var mainMenu = [{
        "title": "Сведения об образовательной <br> организации",
        "link": "#",
        "parents": false
    },
    {
        "title": "Образовательная <br> деятельность",
        "link": "#",
        "parents": [
            {
                "title": "Календарный учебный график",
                "link": "#",
                "parents": false
            },
            {
                "title": "Программы повышения квалификации",
                "link": "#",
                "parents": false
            },
            {
                "title": "Программы профессиональной переподготовки",
                "link": "#",
                "parents": false
            },
            {
                "title": "Дистанционное обучение",
                "link": "#",
                "parents": false
            },
            {
                "title": "Образцы документов на зачисление",
                "link": "#",
                "parents": false
            }
        ]
    },
    {
        "title": "Научно-методическая <br> деятельность",
        "link": "#",
        "parents": false
    },
    {
        "title": "Сопровождение <br> системы образования",
        "link": "#",
        "parents": false
    },
    {
        "title": "Конкурсы, <br> олимпиады",
        "link": "#",
        "parents": false
    },
    {
        "title": "Одаренные <br> дети ",
        "link": "#",
        "parents": false
    },
    {
        "title": "Аттестация",
        "link": "#",
        "parents": false
    }],
    dropdownMenu = [{
        
    }],
    mobileMenu = [{

    }]
</script>