.navbar {
    z-index: 9999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: .25s all ease;
    &.is--scroll {
        transform: translateY(-100%);
    }
    &__top {
        position: relative;
        z-index: 20;
        background: $c-primary;
        &__search {
            max-width: 245px;
            width: 100%;
        }
        &__eye {
            padding-left: 30px;
            button {
                padding: 0;
                border: none;
                background: transparent;
                color: #fff;
                display: flex;
                align-items: center;
                cursor: pointer;
                svg {
                    fill: #ffffff;
                    margin-right: 10px;
                }
            }
        }
        &__inner {
            height: 60px;
            display: flex;
            align-items: center;
        }
        &__info {
            margin-left: auto;
            ul {
                display: flex;
                li {
                    margin-left: 35px;
                    &:first-child {
                        margin-left: 0;
                    }
                    span,
                    a {
                        font-weight: 500;
                        color: #fff;
                        font-size: 14px;

                    }
                }
            }
        }
        &__links {
            height: 100%;
            margin-left: 100px;
            ul {
                height: 100%;
                display: flex;
                margin: 0 -15px;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        padding: 0 15px;
                        svg {
                            fill: #fff;
                        }
                        &:hover {
                            svg {
                                fill: #334059;
                            }
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        border-bottom: 1px solid #E3EAFD;
        position: relative;
        z-index: 20;
        background: #fff;
        &__inner {
            height: 89px;
            display: flex;
            align-items: center;
        }
        &__logo {
            max-width: 196px;
            width: 100%;
            margin-right: 40px;
        }
        &__btn {
            button {
                padding: 15px 20px;
                border: none;
                background: transparent;
                cursor: pointer;
                display: flex;
                align-items: center;
                .is--icon {
                    background: #334059;
                    width: 26px;
                    height: 3px;
                    transition: .25s all ease;
                    position: relative;
                    &::before,
                    &::after {
                        background: #334059;
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        left: 0;
                        content: '';
                        transition-delay: 1s, 2s;
                        transition: .25s all ease;
                    }
                    &::before {
                        top: -7px;
                    }
                    &::after {
                        bottom: -7px;
                    }
                }
                span {
                    margin-left: 12px;
                    color: #334059;
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: uppercase;
                    line-height: 15px;
                }
                &.is--active {
                    .is--icon {
                        background: transparent;
                        &::before {
                            top: 0;
                            transform: rotate(45deg);
                        }
                        &::after {
                            bottom: 0;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        &__menu {
            margin-left: auto;
            height: 100%;
            ul {
                display: flex;
                height: 100%;
                margin: 0 -15px;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        padding: 0 15px;
                        white-space: nowrap;
                        font-weight: 500;
                        color: #334059;
                        position: relative;
                        &::after {
                            content: '';
                            width: 0%;
                            height: 3px;
                            background: $c-primary;
                            left: 0;
                            bottom: -1px;
                            position: absolute;
                            transition: .25s all ease;
                        }
                        &:hover {
                            color: $c-primary;
                            &::after  {
                                width: 100%;
                            }
                        }
                        &.is--active {
                            color: $c-primary;
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__big,
    &__dropdown {
        top: 100%;
        position: absolute;
        left: 0;
        width: 100%;
        background: $c-primary;
        padding: 100px 0 70px 0;
        transform: translateY(-102%);
        transition: .4s all cubic-bezier(.99,.01,0,1);
        &__inner {
            transition: .25s all ease;
            transition-delay: .4s;
            opacity: 0;
        }
        &__cols {
            display: flex;
            margin: 0 -28px;
        }
        &__col {
            width: 100%;
            padding: 0 28px;
        }
        &__menu {
            position: relative;
            padding-left: 15px;
            &::before {
                content: '';
                width: 1px;
                height: 100%;
                background: #fff;
                position: absolute;
                left: 0;
                top: 0;
            }
            &.is--mb {
                margin-bottom: 50px;
            }
            &__heading {
                margin-bottom: 20px;
                a, span {
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                }
            }
            &__items {
                ul {
                    li {
                        a {
                            font-size: 14px;
                            font-weight: 500;
                            color: #fff;
                            display: block;
                            padding: 4px 0;
                            transition: .25s all ease;
                            &:hover {
                                transform: translateX(5px);
                            }
                        }
                        ul {
                            padding-left: 20px;
                            margin-bottom: 15px;
                            ul {
                                margin-bottom: 0;
                            }
                            li {
                                a {
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__dropdown {
        &.is--open {
            box-shadow: 0px 28px 31px rgba(0, 0, 0, 0.342);
            transform: none;
            z-index: 15;
            .navbar__dropdown__inner {
                opacity: 1;
            }
        }
    }
}

._navbar-menu {
    display: none;
}

.aside {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: .25s all ease;
    visibility: hidden;
    opacity: 0;
    display: none;
    &.is--open {
        .aside {
            &__main {
                transform: translateX(-50vw);
            }
            &__sub {
                transform: none;
            }
        }
    }
    &__inner {
        position: relative;
        height: 100%;
    }
    &__main {
        width: 100%;
        height: 100%;
        background: url(../../img/aside_bg1.jpg);
        background-size: cover;
        padding: 30px 0 50px 0;
        overflow: auto;
        transition: .4s all ease;
        &__menu {
            padding: 0 15px 0 15px;
            margin-bottom: 50px;
            ul {
                li {
                    a {
                        display: block;
                        padding: 17px 35px 17px 0;
                        color: #fff;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        border-bottom: 1px solid rgba(227, 234, 253, 0.15);
                        position: relative;
                        &.is--drop {
                            &::after {
                                content: url(../../img/aside_arrow.svg);
                                position: absolute;
                                right: 0;
                                top: 50%;
                                margin-top: -10px;
                            }
                        }
                    }
                }
            }
        }
        &__list {
            margin-bottom: 40px;
            ul {
                li {
                    a, span {
                        display: block;
                        padding: 10px 15px;
                        color: #fff;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
        }
        &__social {
            ul {
                height: 100%;
                display: flex;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        padding: 0 15px;
                        svg {
                            fill: #fff;
                        }
                        &:hover {
                            svg {
                                fill: #334059;
                            }
                        }
                    }
                }
            }
        }
    }
    &__sub {
        width: 100%;
        height: 100%;
        background: url(../../img/aside_bg2.jpg);
        background-size: cover;
        overflow: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100vw);
        transition: .4s all ease;
        padding: 0 15px 60px 15px;
        button.is--prev {
            color: #334059;
            padding: 0;
            border: 0;
            background: none;
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            cursor: pointer;
            display: block;
            width: 100%;
            text-align: left;
            padding: 35px 0 30px 0;
            svg {
                fill: #334059;
                margin-right: 10px;
            }
        }
        ul {
            &.is--menu {
                display: none;
                &.is--active {
                    display: block;
                }
                li {
                    a {
                        font-weight: 500;
                        font-size: 14px;
                        color: #334059;
                        display: block;
                        padding: 15px 50px 15px 0;
                        border-bottom: 1px solid rgba(51, 64, 89, 0.22);
                        &.is--drop {
                            position: relative;
                            &::after {
                                content: url(../../img/aside_arrow_b.svg);
                                position: absolute;
                                right: 0;
                                top: 50%;
                                margin-top: -10px;
                                transition: .25s all ease;
                            }
                            &.is--open {
                                &::after {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                    ul {
                        padding-left: 15px;
                        li {
                            a {
                                font-weight: normal;
                                font-size: 14px;
                                border-bottom: 0;
                                padding-top: 8px;
                                padding-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .navbar {
        &__bottom__menu ul li a,
        &__dropdown__inner ul li a {
            padding: 0 10px;
            font-size: 14px;
        }
        &__bottom__menu ul,
        &__dropdown__inner ul {
            margin: 0 -10px;
        }
    }
}

@media (max-width: 1440px) {
    .navbar {
        &__top {
            &__links {
                margin-left: 30px;
            }
            &__info {
                ul {
                    li {
                        margin-left: 15px;
                        a, span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &__bottom__menu ul li a,
        &__dropdown__inner ul li a {
            padding: 0 10px;
            font-size: 12px;
        }
        &__bottom {
            &__logo {
                margin-right: 10px;
            }
            &__btn {
                margin-right: 10px;
                button {
                    padding: 15px 10px;
                    span {
                        display: none;
                    }
                }
            }
        }
        &__big,
        &__dropdown {
            padding: 50px 0;
            &__cols {
                margin: 0 -15px;
            }
            &__col {
                padding: 0 15px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .navbar {
        &__top {
            &__links {
                margin-left: auto;
            }
            &__info {
                display: none;
                ul {
                    li {
                        margin-left: 20px;
                        a,
                        span {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        &__bottom {
            &__inner {
                height: 60px;
            }
            &__logo {
                max-width: 140px;
            }
            &__btn {
                margin: 0 0 0 auto;
                button {
                    span {
                        display: block;
                    }
                }
            }
            &__menu {
                display: none;
            }
        }
        &__big,
        &__dropdown {
            display: none;
        }
    }
    .aside {
        display: block;
    }
}

@media (max-width: 1025px) {
    .navbar {
        &__top {
            &__links,
            &__info {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        &__top {
            &__eye {
                span {
                    display: none;
                }
            }
            &__search {
                max-width: 100%;
            }
        }
    }
}

.navbar__dropdown__menu__items ul {
    margin-left: 0 !important;
    margin-right: 0 !important;
}