.cards {
    margin-bottom: 110px;
    &__list {
        &__inner {
            margin: -15px -15px 0 -15px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__block {
        max-width: 16.666666666666666%;
        width: 100%;
        padding: 15px;
        &__inner {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            display: block;
            padding-bottom: 45px;
            &:hover {
                .cards {
                    &__block {
                        &__title {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
        &__top {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 50px 0 40px 0;
            span {
                width: 131px;
                height: 131px;
                display: flex;
                background: #EFF0F2;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                svg {
                    fill: $c-primary;
                }
            }
        }
        &__title {
            min-height: 65px;
            padding: 0 15px 0 15px;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 120.19%;
            color: #334059;
        }
    }
}

.edu {
    margin-bottom: 115px;
    &__line {
        background: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &__title {
            padding: 35px 40px 35px 50px;
            cursor: pointer;
            color: #334059;
            font-weight: 500;
            font-size: 24px;
            position: relative;
            display: flex;
            &.is--open {
                span {
                    &.is--plus {
                        display: none;
                    }
                    &.is--minus {
                        display: block;
                    }
                }    
            }
            span {
                display: block;
                margin-left: auto;
                svg {
                    fill: $c-primary;
                }
                &.is--minus {
                    display: none;
                }
            }
        }
        &__content {
            padding: 15px 50px 60px 50px;
            display: none;
            p {
                font-size: 16px;
                line-height: 136.69%;
                color: #334059;
                margin: 0;
            }
        }
    }
}

.qual {
    &__inner {
        padding-top: 85px;
        padding-bottom: 110px;
    }
    &__line {
        margin-bottom: 15px;
        color: #334059;
        &__inner {
            background: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            display: flex;
            padding: 20px 30px 20px 50px;
            align-items: center;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__title,
        &__time,
        &__price,
        &__btns {
            width: 100%;
        }
        &__title {
            max-width: 40vw;
            margin-right: 50px;
            font-size: 18px;
            line-height: 138.5%;
        }
        &__time {
            max-width: 65px;
            margin-right: 20px;
            font-weight: 500;
            font-size: 18px;
        }
        &__price {
            max-width: 120px;
            margin-right: 20px;
            font-weight: 500;
            font-size: 18px;
        }
        &__btns {
            max-width: 470px;
            display: flex;
            justify-content: flex-end;
            .btn-inv {
                margin-right: 20px;
            }
        }
    }
}

.contacts {
    &__inner {
        display: flex;
    }
    &__left {
        min-width: 825px;
        width: 825px;
        &__inner {
            padding: 100px 65px 80px 0;
        }
    }
    &__list {
        margin-bottom: 80px;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                max-width: 50%;
                width: 100%;
                a, span {
                    font-weight: 500;
                    font-size: 16px;
                    color: #334059;
                    display: flex;
                    align-items: center;
                    padding: 7px 0;
                    svg {
                        margin-right: 10px;
                        fill: $c-primary;
                    }
                }
                a {
                    &:hover {
                        color: $c-primary;
                    }
                }
            }
        }
    }
    &__text {
        font-size: 16px;
        line-height: 136.69%;
        color: #334059;
        margin-bottom: 60px;
    }
    &__footer {
        ul {
            display: flex;
            li {
                font-weight: 500;
                font-size: 16px;
                color: #334059;
                margin-right: 35px;
                &:last-child {
                    margin-right: 0;
                }
                svg {
                    margin-right: 10px;
                    fill: $c-primary;
                }
            }
        }
    }
    &__map {
        width: 100%;
    }
    #map {
        width: 100%;
        height: 100%;
        .ymaps-2-1-74-map {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

.search {
    padding-bottom: 80px;
    &__list {
        .docslist__block {
            margin-bottom: 45px;
            position: relative;
            &::after {
                content: '';
                height: 52px;
                width: 1px;
                background: #E3EAFD;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
            }
            &:nth-child(4n) {
                &::after {
                    content: none;
                }
            }
            &:last-child {
                &::after {
                    content: none !important;
                }
            }
        }
    }
}

.news {
    &__menu {
        border-bottom: 1px solid #E3EAFD;
        &__inner {
            max-width: #{1620px + 200px};
            width: 100%;
            margin: 0 auto;
            padding-left: 100px;
            padding-right: 100px;
            position: relative;
            ul {
                display: flex;
                li {
                    a {
                        height: 60px;
                        align-items: center;
                        display: flex;
                        padding: 0 16px;
                        white-space: nowrap;
                        font-weight: 500;
                        font-size: 14px;
                        color: #334059;
                        &.is--active {
                            color: #fff !important;
                            background: $c-primary;
                            cursor: default;
                        }
                        &:hover {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
        &__navs {
            button {
                position: absolute;
                background: none;
                padding: 0;
                border: 0;
                top: 50%;
                margin-top: -16px;
                cursor: pointer;
                svg {
                    fill: $c-primary;
                }
                &.is--prev {
                    left: 10px;
                }
                &.is--next {
                    right: 10px;
                    transform: rotate(180deg);
                }
            }
        }
    }
    &__list {
        padding-bottom: 120px;
        &__inner {
            padding-top: 120px;
            padding-bottom: 85px;
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
    }
    &__block {
        max-width: 25%;
        width: 100%;
        padding: 15px;
        &__inner {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            display: block;
            height: 100%;
            color: #334059;
            &:hover {
                background: url(../../img/news_bg.jpg);
                background-size: cover;
                box-shadow: none;
                color: #fff;
                .news__block__date {
                    svg {
                        fill: #fff;
                    }
                }
            }
        }
        &__date {
            padding: 35px 30px 35px 30px;
            border-bottom: 1px solid #E3EAFD;
            font-weight: 500;
            font-size: 14px;
            display: flex;
            align-items: center;
            line-height: 13px;
            svg {
                fill: $c-primary;
                margin-right: 15px;
            }
        }
        &__content {
            padding: 35px 30px 35px 30px;
            &__title {
                margin-bottom: 25px;
                font-weight: 500;
                font-size: 16px;
            }
            &__desc {
                font-size: 14px;
                line-height: 150.5%;
            }
        }
    }
}

.error {
    padding: 100px 0;
    color: #334059;
    &__inner {
        display: flex;
    }
    &__left {
        margin-right: 5.7vw;
        &__code {
            &__title {
                font-weight: 500;
                font-size: 36px;
            }
            &__num {
                font-weight: 500;
                font-size: 144px;
            }
        }
    }
    &__right {
        padding-top: 180px;
        &__text {
            font-size: 16px;
            line-height: 150.5%;
            margin-bottom: 45px;
        }
    }
}

@media (max-width: 1440px) {
    .cards {
        &__block {
            max-width: 25%;
        }
    }
    .qual {
        &__line {
            &__inner {
                padding: 20px;
            }
            &__title,
            &__time,
            &__price {
                font-size: 16px;
            }
            &__price {
                max-width: 90px;
            }
        }
    }
    .contacts {
        &__left {
            min-width: 700px;
            width: 700px; 
        }
    }
    .search {
        &__list {
            .docslist__block {
                &:nth-child(4n) {
                    &::after {
                        content: '';
                    }
                }
                &:nth-child(3n) {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .news {
        &__block {
            max-width: 33.33333333%;
        }
    }
}

@media (max-width: 1200px) {
    .qual {
        &__line {
            &__inner {
                flex-wrap: wrap;
            }
            &__title {
                margin-left: 0;
                max-width: 52vw;
            }
            &__btns {
                max-width: 100%;
                padding-top: 30px;
            }
        }
    }
    .contacts {
        &__inner {
            flex-wrap: wrap;
        }
        &__left,
        &__map {
            max-width: 100%;
            min-width: 0;
            width: 100%;
        }
        &__map {
            height: 300px;
        }
        &__left {
            &__inner {
                padding: 50px 30px 50px 0;
            }
        }
    }
}

@media (max-width: 1025px) {
    .cards {
        &__block {
            max-width: 33.333333333%;
        }
    }
    .search {
        &__list {
            .docslist__block {
                &:nth-child(3n) {
                    &::after {
                        content: '';
                    }
                }
                &:nth-child(2n) {
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
    .news {
        &__menu {
            &__inner {
                ul {
                    li {
                        a {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 930px) {
    .news {
        &__block {
            max-width: 50%;
        }
    }
}

@media (max-width: 768px) {
    .cards {
        margin-bottom: 50px;
        &__block {
            max-width: 50%;
            &__inner {
                padding-bottom: 25px;
            }
            &__top {
                padding: 20px 0 20px;
                span {
                    width: 110px;
                    height: 110px;
                }
            }
            &__title {
                font-size: 16px;
                min-height: 60px;
            }
        }
    }
    .edu {
        margin-bottom: 50px;
        &__line {
            &__title {
                padding: 25px 15px 15px 15px;
                font-size: 16px;
                span {
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            &__content {
                padding: 0px 15px 30px;
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .qual {
        &__inner {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &__line {
            &__price,
            &__time {
                max-width: 50%;
                width: 100%;
                margin: 0;
            }
            &__title {
                margin: 0 0 20px 0;
                max-width: 100%;
            }
        }
    }
    .contacts {
        &__left {
            &__inner {
                padding-bottom: 20px;
            }
        }
        &__list {
            margin-bottom: 20px;
            ul {
                li {
                    max-width: 100%;
                    a, span {
                        font-size: 14px;
                    }
                    &.is--phone {
                        order: 1;
                    }
                }
            }
        }
        &__text {
            font-size: 14px;
            margin-bottom: 30px;
            br {
                display: none;
            }
        }
        &__footer {
            ul {
                flex-wrap: wrap;
                li {
                    font-size: 14px;
                    margin: 0 25px 20px 0;
                }
            }
        }
    }
    .search {
        padding-bottom: 30px;
        &__list {
            .docslist__block {
                margin-bottom: 25px;
                &::after {
                    content: none !important;
                }
            }
        }
    }
    .news {
        &__menu {
            &__inner {
                padding-left: 40px;
                padding-right: 40px;
            }
            &__navs {
                button {
                    margin-top: -8px;
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
        &__list {
            padding-bottom: 50px;
            &__inner {
                padding-top: 50px;
                padding-bottom: 50px;
            }
        }
        &__block {
            &__date {
                padding: 25px 20px;
            }
            &__content {
                padding: 25px 20px;
                &__title {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .error {
        padding: 50px 0;
        &__inner {
            flex-wrap: wrap;
        }
        &__left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
            &__code {
                &__num {
                    font-size: 94px;
                }
            }
        }
        &__right {
            padding-top: 0;
        }
    }
}

@media (max-width: 550px) {
    .cards {
        &__block {
            max-width: 100%;
            &__title {
                min-height: 0;
            }
        }
    }
    .qual {
        &__line {
            &__btns {
                display: flex;
                flex-wrap: wrap;
                .btn, .btn-inv {
                    max-width: 100%;
                    margin: 0;
                    width: 100%;
                }
                .btn-inv {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .news {
        &__block {
            max-width: 100%;
        }
    }
}