.cards {
    margin-bottom: 110px;
    &__list {
        &__inner {
            margin: -15px -15px 0 -15px;
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__block {
        max-width: 16.666666666666666%;
        width: 100%;
        padding: 15px;
        &__inner {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            display: block;
            padding-bottom: 45px;
            &:hover {
                .cards {
                    &__block {
                        &__title {
                            color: $c-primary;
                        }
                    }
                }
            }
        }
        &__top {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 50px 0 40px 0;
            span {
                width: 131px;
                height: 131px;
                display: flex;
                background: #EFF0F2;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                svg {
                    fill: $c-primary;
                }
            }
        }
        &__title {
            min-height: 65px;
            padding: 0 15px 0 15px;
            text-align: center;
            font-weight: 500;
            font-size: 18px;
            line-height: 120.19%;
            color: #334059;
        }
    }
}

.edu {
    margin-bottom: 115px;
    &__line {
        background: #fff;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &__title {
            padding: 35px 40px 35px 50px;
            cursor: pointer;
            color: #334059;
            font-weight: 500;
            font-size: 24px;
            position: relative;
            display: flex;
            &.is--open {
                span {
                    &.is--plus {
                        display: none;
                    }
                    &.is--minus {
                        display: block;
                    }
                }    
            }
            span {
                display: block;
                margin-left: auto;
                svg {
                    fill: $c-primary;
                }
                &.is--minus {
                    display: none;
                }
            }
        }
        &__content {
            padding: 15px 50px 60px 50px;
            display: none;
            p {
                font-size: 16px;
                line-height: 136.69%;
                color: #334059;
                margin: 0;
            }
        }
    }
}

.qual {
    &__inner {
        padding-top: 85px;
        padding-bottom: 110px;
    }
    &__line {
        margin-bottom: 15px;
        color: #334059;
        &__inner {
            background: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.13);
            display: flex;
            padding: 20px 30px 20px 50px;
            align-items: center;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__title,
        &__time,
        &__price,
        &__btns {
            width: 100%;
        }
        &__title {
            max-width: 40vw;
            margin-left: auto;
            margin-right: 50px;
            font-size: 18px;
            line-height: 138.5%;
        }
        &__time {
            max-width: 65px;
            margin-right: 20px;
            font-weight: 500;
            font-size: 18px;
        }
        &__price {
            max-width: 120px;
            margin-right: 20px;
            font-weight: 500;
            font-size: 18px;
        }
        &__btns {
            max-width: 470px;
            display: flex;
            justify-content: flex-end;
            .btn-inv {
                margin-right: 20px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .cards {
        &__block {
            max-width: 25%;
        }
    }
    .qual {
        &__line {
            &__inner {
                padding: 20px;
            }
            &__title,
            &__time,
            &__price {
                font-size: 16px;
            }
            &__price {
                max-width: 90px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .qual {
        &__line {
            &__inner {
                flex-wrap: wrap;
            }
            &__title {
                margin-left: 0;
                max-width: 52vw;
            }
            &__btns {
                max-width: 100%;
                padding-top: 30px;
            }
        }
    }
}

@media (max-width: 1025px) {
    .cards {
        &__block {
            max-width: 33.333333333%;
        }
    }
}

@media (max-width: 768px) {
    .cards {
        margin-bottom: 50px;
        &__block {
            max-width: 50%;
            &__inner {
                padding-bottom: 25px;
            }
            &__top {
                padding: 20px 0 20px;
                span {
                    width: 110px;
                    height: 110px;
                }
            }
            &__title {
                font-size: 16px;
                min-height: 60px;
            }
        }
    }
    .edu {
        margin-bottom: 50px;
        &__line {
            &__title {
                padding: 25px 15px 15px 15px;
                font-size: 16px;
                span {
                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
            &__content {
                padding: 0px 15px 30px;
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .qual {
        &__inner {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &__line {
            &__price,
            &__time {
                max-width: 50%;
                width: 100%;
                margin: 0;
            }
            &__title {
                margin: 0 0 20px 0;
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {
    .cards {
        &__block {
            max-width: 100%;
            &__title {
                min-height: 0;
            }
        }
    }
    .qual {
        &__line {
            &__btns {
                display: flex;
                flex-wrap: wrap;
                .btn, .btn-inv {
                    max-width: 100%;
                    margin: 0;
                    width: 100%;
                }
                .btn-inv {
                    margin-bottom: 15px;
                }
            }
        }
    }
}