.t {
    &-page {
        &.is--v1 {
            padding-bottom: 75px;
        }
        &.is--v2 {
            .t-docs {
                padding: 95px 0;
            }
        }
    }
    &-menu {
        border-bottom: 1px solid #E3EAFD;
        &__inner {
            overflow: auto;
            padding-bottom: 50px;
            button.is--close {
                display: none;
            }
            ul {
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                li {
                    height: 100%;
                    a {
                        display: flex;
                        height: 100%;
                        align-items: center;
                        white-space: nowrap;
                        justify-content: center;
                        padding: 22px 25px;
                        font-weight: 500;
                        font-size: 14px;
                        color: #334059;
                        &:hover {
                            color: #fff;
                            background: $c-primary;
                        }
                    }
                }
            }
        }
        &__mobile {
            display: none;
        }
    }
    &-text {
        padding: 60px 0;
    }
}

@media (max-width: 1025px) {
    .t {
        &-menu {
            &__inner {
                ul {
                    li {
                        a {
                            padding: 15px 15px;
                        }
                    }
                }
            }          
        }
    }
}

@media (max-width: 768px) {
    .t {
        &-page {
            &.is--v1 {
                padding-bottom: 20px;
            }
            &.is--v2 {
                .t-docs {
                    padding: 30px 0;
                }
            }
        }
        &-menu {
            &__inner {
                position: fixed;
                background: #fff;
                width: 320px;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 99;
                padding-top: 150px;
                transform: translateX(-100%);
                transition: .25s all ease;
                button.is--close {
                    display: block;
                    margin: 0 15px 30px 15px;
                    padding: 0;
                    border: 0;
                    background: transparent;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 14px;
                    width: 100%;
                    text-align: left;
                }
                ul {
                    height: auto;
                    li {
                        height: auto;
                        width: 100%;
                        a {
                            height: auto;
                            white-space: normal;
                            justify-content: flex-start;
                            border-bottom: 1px solid #E3EAFD;
                        }
                    }
                }
            }
            &__mobile {
                padding-top: 25px;
                padding-bottom: 25px;
                display: block;
            }
        }
        &-text {
            padding: 30px 0;
        }
    }
}